body{
    background-color: lightgray;
    background-image: url(https://www.deccanherald.com/sites/dh/files/article_images/2018/10/31/vtu-1540996461.jpg);
      background-size: cover;
      background-position: center center;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background-color: #4916cc;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #45a049;
    border-radius: 20px;
  }
  .notin{
    text-align: center;
  }